*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    /* font-family: 'Roboto', sans-serif; */
}

:root{
    --black-color: #000;
    --white-color: white;
    --text-color: #ccc;
}


/* =========================================================================== */
.app{
    box-sizing: border-box;
    display: block;
    position: relative;
}

.top{
    z-index: 1;
    position: fixed;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;  
    background-color: var(--white-color);
}

.header__top,
.fa-bars{
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 16px;
}

.fa-bars{
    cursor: pointer;
}

.fa-bars:hover{
    background-color: var(--text-color);
}

.sidebar{
    width: 40%;
    box-shadow: 0 2px 5px 0px #ccc;
    position: fixed;
    z-index: 1;
    height: 100%;
    bottom: 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    left: 0;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}

.sidebar__options{
    font-size: 2.3rem;
    padding: 24px 20px; 
    font-weight: 300;
    cursor: pointer;
}

.sidebar__options:hover{
    background-color: #ccc;
}

.header__checked:checked ~.sidebar{
    transform: translateX(0%);
}

/* ============content============ */
.content{
    display: block;
    box-sizing: border-box;
    padding:130px 30px 0;
    max-width: 1200px;
    margin: auto;
}

.content__card{
    height: 100px;
    background-clip: content-box;
    height: auto;
    margin-bottom: 40px;
}

.content__card-img{
    width: 100%;
    /* height: 100%; */
}

h3,p{
    text-align: center;
    padding: 8px 0;
}

h3{
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.5rem;
}

.content__card-p{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
}

/* ===================control page================= */
.content__control{
    display: flex;
    justify-content: center;
    padding: 24px 0 60px;
    border-bottom: 1px solid #ccc;
}

.content__control-page
{
    padding: 12px 16px;
    font-size: 1.4rem;
    font-weight: 300;
    cursor: pointer;
}

.content__control-page:hover{
    background-color: var(--black-color);
    color: var(--white-color);
}

.fa-angles-left,
.fa-angles-right{
    font-size: 0.8rem;
    cursor: pointer;
}

.content__control-page-selected{
    background-color: var(--black-color);
    color: var(--white-color);
}

/* ==================about================ */
.content__about{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

h4,h5{
    font-size: 2.2rem;
    display: block;
    padding: 40px 0;
    font-weight: 300;
}

.content__about-img{
    width: 66.66%;
    margin: auto;
}

@media (max-width: 729px){
    .content__about-img{
        width: 100%;
    }
}

h5{
    padding-bottom: 20px;
    font-weight: 400;
}

.content__about-span{
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
}

.content__about-p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}

/* ====================footer================ */

.footer{
    box-sizing: border-box;
    display: block;
    max-width: 1200px;
    padding: 50px 50px;
    margin: auto;
}

.footer__select{
    font-size: 2.2rem;
    font-weight: 300;
    display: block;
    padding: 16px 0;
}

.footer__select-p,
.footer__select-a{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}

.footer__select-blog{
    display: flex;
    padding: 12px 0 12px 16px;
}

.footer__select-blog:hover{
    background-color: var(--text-color);
}

.footer__select-blog-boder{
    border-bottom: 1px solid #ccc;
}

.footer__select-blog-img{
    width: 50px;
    height: 50px;
}

ul{
    list-style: none;
    padding: 2px 16px;
    
}

.footer__select-blog-li1{
    font-size: 1.6rem;
    padding: 5px 0;
}

.footer__select-blog-li2{
    font-size: 1.4rem;
    font-weight: 300;
    padding: 3px 0;
}

.footer__select-tag{
    font-size: 1.2rem;
    display: inline-block;
    padding: 2px 6px;
    background-color: #616161;
    margin-bottom: 12px;
    color: var(--white-color);
}

.footer__selected-tag{
    background-color: #000;
    font-size: 1.4rem;
    padding: 4px 8px;
}

/* =========reponsive========== */
.sidebar__options{
    font-size: 2rem;
}